.jumbotron {
    padding: 0;
}

.field {
    position: relative;
    margin: 0;
    padding: 0.3%;
    background-color: #ecf0f1;
    text-align: center;
    height: calc(100vh - 100px);
    border-radius: 1%;
    background-repeat: no-repeat;

}

.fieldOutside {
    background-color: #004276;
}

.imgField {
    background-color: #40b95a;
    width: auto;
    height: 100%;
}

.player {
    height: 7rem;
    width: 7rem;
    position: absolute;
    border-radius: 50%;
    background-color: #0073ea;
    cursor: move;
    color: #f5f5f5;
    font-size: 3rem;
    text-align: center;
    line-height: 6rem;
}

.goalKeeper {
    background-color: #d43f3a;
}

.draggableArea {
    position: absolute;
    top: 1%;
    height: calc(100% - 7rem);
    width: calc(100% - 7rem);
}

.modal-body {
    max-height: 75vh;
    padding: 0% 5%;
    overflow-y: auto;
    overflow-x: hidden;
}

#playersList {
    margin: 0;
    padding: 0;
}

#playersList li {
    border: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#playersWrapper {
    padding: 0% 5%;
}

#playerNumberInput {
    width: 5rem;
}

#playerNameInput {
    width: calc(100% - 5rem);
}

#noty {
    color: #d43f3a;
}