@import 'variables';
$icon-font-path: '../libs/bootstrap/fonts/';
@import '../libs/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'bootswatch';
$player-size: 7rem;
$button-size: 5rem;
$box-shadow-color: rgba(0, 0, 0, .3);
$panel-shadow: 0 3px 10px $box-shadow-color;

.navbar,
.panel {
  box-shadow: $panel-shadow;
}
// Field section

.field {
  margin: auto auto 3rem;
  position: relative;
  width: 80%;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.field__inside {
  bottom: 0;
  box-shadow: $panel-shadow;
  left: 19%;
  position: absolute;
  right: 19%;
  top: 0;
}

.field__img {
  background-color: $brand-success;
  height: 100%;
  width: 100%;
}

.field__draggable-area {
  height: calc(98% - #{$player-size});
  position: absolute;
  top: 1%;
  width: calc(100% - #{$player-size});
}

.field__player {
  background-color: $brand-primary;
  border-radius: 50%;
  color: $gray-lighter;
  cursor: move;
  font-size: 3rem;
  height: $player-size;
  position: absolute;
  text-align: center;
  width: $player-size;
}

.field__goalkeeper {
  background-color: $brand-danger;
}
// Substitutions section

.substitutions {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: calc(19% - #{$player-size});
  position: absolute;
  top: 0;
}

.substitutions__panel {
  max-height: 100%;
}

.substitutions__title {
  text-align: center;
}

.substitutions__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0.2rem;
  // skip an animation
  .ng-animate {
    transition: 0s;
  }
}

.substitutions__btn {
  border-radius: 50%;
  font-size: 3rem;
  height: $player-size;
  margin-top: 0.2rem;
  text-align: center;
  width: $player-size;
}
// Players list

.players-list {
  margin: 0;
  padding: 0;

  li {
    border: 0;
  }
}

#players-list__input--number {
  text-align: center;
  width: 5rem;
}

#players-list__input--name {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  width: calc(100% - 7rem);
}

.players-list__btn--add-player {
  border-radius: 50%;
  float: right;
  font-size: 2rem;
  height: $button-size;
  line-height: $button-size;
  padding: 0;
  width: $button-size;

  &:hover {
    @extend .btn-primary;
  }
}
// Team section

.team__input--clear {
  color: $gray;
  cursor: pointer;
  pointer-events: auto;
  text-decoration: none;
}

.panel-body {
  .nav-tabs {
    li {
      font-size: 1.7rem;
      text-align: center;
      width: 50%;
    }
  }
}
// Modal dialogs

.modal__background {
  background-color: rgba(0,0,0,.5);
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modal-content {
  padding: 2rem;
}

.modal-body {
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 20px;
}

.modal-footer {
  .btn-danger {
    float: left;
  }
}
// Header

.header__user-link {
  color: $gray-lighter;
}
// Footer

.footer {
  text-align: center;
}

.footer__small {
  margin: 3rem 0;
}
// ribbon

.ribbon {
  background-color: $brand-primary;
  color: $gray-lighter;
  font-size: 2rem;
  margin: auto auto 2rem;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
}
