@import "variables";
$icon-font-path: "../libs/bootstrap/fonts/";
@import "../libs/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bootswatch";

$player-size: 7rem;
$button-size: 6rem;
$panel-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
// $panel-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

.panel {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: $panel-shadow;
}

.fieldOutside {
    position: relative;
    width: 80%;
    margin: auto;
}

.fieldOutside:before{
  content: "";
  display: block;
  padding-top: 100%;
}

.field{
  position: absolute;
  top: 0;
  left: 19%;
  right: 19%;
  bottom: 0;
  box-shadow: $panel-shadow;
  -webkit-box-shadow: $panel-shadow;
}

.imgField {
    background-color: $brand-success;
    width: 100%;
    height: 100%;
}

.player {
    height: $player-size;
    width: $player-size;
    position: absolute;
    border-radius: 50%;
    background-color: $brand-primary;
    cursor: move;
    color:$gray-lighter;
    font-size: 3rem;
    text-align: center;
}

.draggableArea {
    position: absolute;
    top: 1%;
    height: calc(98% - #{$player-size});
    width: calc(100% - #{$player-size});
}

.goalKeeper {
    background-color: $brand-danger;
}

#playersList {
    margin: 0;
    padding: 0;
    li {
        border: 0;
    }
}

#playerNumberInput {
    width: 5rem;
    text-align: center;
}

#playerNameInput {
    width: calc(100% - 7rem);
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
}

.addPlayer  {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    float: right;
    line-height: 4rem;
    font-size: 1.5rem;
}

footer {
    text-align: center;
    small {
        margin: 3rem 0;
    }
}

.modalBackground {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0,0,0,0.5);
}

.select-team-buttons {
    margin-top: 2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;;
    align-content: center;
    a {
        width: $button-size;
        height: $button-size;
        line-height: $button-size;
        border-radius: 50%;
        font-size: $button-size / 2;
        padding:0;
        &:hover {
            @extend .btn-primary;
        }
    }
}
