<nav class="navbar navbar-inverse col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Mini Football Clipboard <sup>beta</sup></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form ng-if="!userCtrl.isLoggedIn" class="navbar-form navbar-right" role="loginForm">
                <div class="form-group">
                    <input class="form-control input-sm" placeholder="Username" type="text"
                           ng-model="userCtrl.user.userName">
                    <input class="form-control input-sm" placeholder="Password" type="password"
                           ng-model="userCtrl.user.password">
                </div>
                <button type="submit" class="btn btn-default btn-sm" ng-click="userCtrl.onLoginClick()">Login</button>
                <button type="submit" class="btn btn-default btn-sm" ng-click="userCtrl.onRegisterClick()">Register</button>
            </form>
            <form ng-if="userCtrl.isLoggedIn" class="navbar-form navbar-right" role="logoutForm">
                <a href="#">{{userCtrl.user.userName }}</a>
                <button type="submit" class="btn btn-default btn-sm" ng-click="userCtrl.onLogoutClick()">Logout</button>
            </form>
        </div>
    </div>
</nav>
