<small class="col-lg-12 col-md-12 col-sm-12">
    <strong>
        <a href="https://github.com/darinnn/Mini-Football-Clipboard" target="_blank">Open Source Project</a>
        <br>powered by:
    </strong>
    <a href="http://mongoosejs.com/" target="_blank">Mongoose</a>,&nbsp;
    <a href="http://expressjs.com/" target="_blank">Express</a>,&nbsp;
    <a href="http://angularjs.org/" target="_blank">AngularJS</a>,&nbsp;
    <a href="https://nodejs.org/en/" target="_blank">NodeJS</a>
    and
    <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a>
    <br>
    <strong>Author:</strong>
    <a href="https://github.com/darinnn" target="_blank">Darin Georgiev</a>
</small>
