<div>
    <div class="allField col-lg-8 col-md-12 col-sm-12" ng-init="ctrl.getAllTeams()">
        <div class="dragableArea">
            <div ng-repeat="player in ctrl.team.players" class="player" my-draggable>{{player.playerNumber}}</div>
        </div>


        <!--<div class="player">-->

        <!--</div>-->
        <!--<div class="sideLines">-->
        <!--<div class="field">-->

        <!--</div>-->

        <!--<div class="fieldCircleLine">-->

        <!--</div>-->
        <!--<div class="fieldCircle">-->

        <!--</div>-->
        <!--<div class="fieldCenter">-->

        <!--</div>-->
        <!--<div class="fieldBoxLine">-->

        <!--</div>-->

        <!--</div>-->

    </div>
</div>