<div class="col-lg-8 col-md-12 col-sm-12">
    <section class="panel ribbon" uib-tooltip="Team: {{ctrl.selectedTeam.teamName}}">
        <div class="panel-heading">
            {{ctrl.selectedTeam.teamName}}
        </div>
    </section>
    <section class="field">
        <div class="field__inside">
            <img class="field__img" src="imgs/field.svg"/>
            <div class="field__draggable-area">
                <div data-ng-repeat="player in ctrl.selectedTeam.players | limitTo: 6" class="btn btn-defaul field__player"
                    data-ng-class="{'field__goalkeeper' : $index === 0}" my-draggable uib-tooltip="{{player.playerName}}">
                    {{player.playerName | limitTo: 2}}
                    <div class="field__player--number">{{player.playerNumber}}</div>
                </div>
            </div>
        </div>
    </section>
    <section class="substitutions">
        <div class="panel panel-warning substitutions__panel">
            <div class="panel-heading">
                <h3 class="panel-title substitutions__title" uib-tooltip="Substitutions">Sub</h3>
            </div>
            <div class="panel-body substitutions__body">
                <div data-ng-repeat="player in ctrl.selectedTeam.players" data-ng-if="$index > 5"
                    class="btn btn-primary disabled substitutions__btn" uib-tooltip="{{player.playerName}}">
                    {{player.playerName | limitTo: 2}}
                    <div class="field__player--number">{{player.playerNumber}}</div>
                </div>
            </div>
        </div>
    </section>
</div>
