<div class="col-lg-6 col-md-12 col-sm-12 col-lg-offset-1">
    <div class="container">
        <form class="form-horizontal">
            <fieldset>
                <legend>New Team: {{ctrl.team.teamName}} {{ctrl.team.playersCount}}</legend>
                <div class="form-group">
                    <label for="teamName" class="col-lg-2 control-label">Team Name:</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="teamName" placeholder="Team Name" type="text"
                               ng-model="ctrl.team.teamName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="playersCount" class="col-lg-2 control-label">Players:</label>

                    <div class="col-lg-10">
                        <select class="form-control" id="playersCount" ng-model="ctrl.team.playersCount ">
                            <option>5</option>
                            <option>6</option>
                        </select>
                        <br>
                    </div>
                </div>
                <div class="form-group" ng-repeat="player in ctrl.team.players track by $index">
                    <label for="playerName" class="col-lg-2 control-label">Player {{$index + 1}}:</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="playerName" placeholder="Player {{$index + 1}}" type="text"
                               ng-model="ctrl.team.players[$index].playerName">
                    </div>
                    <label for="playerNumber" class="col-lg-2 control-label">Number:</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="playerNumber" placeholder="{{$index + 1}}" type="number"
                               ng-model="ctrl.team.players[$index].playerNumber">
                    </div>
                </div>
                <!--<div>-->
                <!--{{ctrl.team.players}}-->
                <!--{{ctrl.allTeams}}-->
                <!--{{ctrl.team.playersCount}}-->
                <!--</div>-->
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary" ng-click="ctrl.addPlayer()">Add player</button>
                        <button type="submit" class="btn btn-primary" ng-click="ctrl.removePlayer()">Remove player
                        </button>
                        <button type="submit" class="btn btn-primary" ng-click="ctrl.deleteTeam()">Delete Team</button>
                        <button type="submit" class="btn btn-primary" ng-click="ctrl.createTeam()">Create</button>
                        <button type="submit" class="btn btn-primary" ng-click="ctrl.updateTeam()">Update</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
