<div>
    <!-- <div ng-if="ctrl.isCreateNewTeamVisible"> -->
    <div>
        <div class="modal in" style="display: block">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="/" class="close" role="button" data-dismiss="modal" aria-hidden="true"
                            ng-click="ctrl.onCreateNewTeamCancelClick()">×
                        </a>
                        <h4 class="modal-title">Create New Team</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <!--<legend>New Team: {{ctrl.newTeam.teamName}} {{ctrl.newTeam.playersCount}}-->
                                <!--</legend>-->
                                <div class="form-group">
                                    <label for="teamName" class="col-lg-2 control-label">Team Name:</label>

                                    <div class="col-lg-10">
                                        <input class="form-control" id="teamName" placeholder="Team Name" type="text"
                                               ng-model="ctrl.newTeam.teamName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="playersCount" class="col-lg-2 control-label">Players:</label>

                                    <div class="col-lg-10">
                                        <select class="form-control" id="playersCount"
                                                ng-model="ctrl.newTeam.playersCount ">
                                            <option>5</option>
                                            <option>6</option>
                                        </select>
                                        <br>
                                    </div>
                                </div>
                                <div id="playersWrapper">
                                    <ul id="playersList" data-as-sortable ui-sortable="{ 'ui-floating': true }"
                                        data-ng-model="ctrl.newTeam.players">
                                        <li ng-repeat="player in ctrl.newTeam.players" data-as-sortable-item>
                                            <div class="form-group input-group"
                                                 ng-class="{'has-warning': $index >5, 'has-error': $index === 0 }">
                                                <input class="form-control" id="playerNumberInput" placeholder="#"
                                                       ng-model="ctrl.newTeam.players[$index].playerNumber"
                                                       type="number" min="0" max="99">
                                                <input class="form-control" id="playerNameInput"
                                                       placeholder="Player {{$index + 1}}" type="text"
                                                       ng-model="ctrl.newTeam.players[$index].playerName">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button" data-as-sortable-item-handle>
                                                        &#8593;&#8595;</button>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <div class=" ">
                                        <!--<button type="reset" class="btn btn-default btn-xs">Cancel</button>-->
                                        <button type="submit" class="btn btn-primary btn-xs"
                                                ng-click="ctrl.addPlayer(ctrl.newTeam)">Add player
                                        </button>
                                        <button type="submit" class="btn btn-primary btn-xs"
                                                ng-click="ctrl.removePlayer(ctrl.newTeam)">Remove player
                                        </button>

                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" role="button" ng-click="ctrl.createNewTeam()">Create</a>
                        <a href="/" class="btn btn-default" role="button" data-dismiss="modal"
                            ng-click="ctrl.onCreateNewTeamCancelClick()">Close
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
