<div>
    <ul id="playersList" data-as-sortable ui-sortable="{ 'ui-floating': true }" data-ng-model="ctrl.selectedTeam.players">
        <li ng-repeat="player in ctrl.selectedTeam.players" data-as-sortable-item>
            <div class="form-group input-group " ng-class="{'has-warning': $index >5, 'has-error': $index === 0 }">
                <input class="form-control" id="playerNumberInput" placeholder="#"
                    ng-model="ctrl.selectedTeam.players[$index].playerNumber" type="text">
                <input class="form-control" id="playerNameInput" placeholder="Player {{$index + 1}}" type="text"
                    ng-model="ctrl.selectedTeam.players[$index].playerName">
                <!-- <span class="glyphicon glyphicon-remove form-control-feedback removePlayer2"  ng-click="ctrl.removePlayerByIndex($index)"></span> -->
                <span class="input-group-btn">
                    <button class="btn btn-default " type="button" ng-click="ctrl.removePlayerByIndex($index)">x</button>
                    <button class="btn btn-default" type="button" data-as-sortable-item-handle>&#8593;&#8595;</button>
                </span>
            </div>
        </li>
    </ul>
    <div class="form-group">
        <div class=" ">
            <a class="btn btn-primary addPlayer" role="button" ng-click="ctrl.addPlayer(ctrl.selectedTeam)">+1</a>
        </div>
    </div>
</div>
