<div class="col-lg-4 col-md-12 col-sm-12" data-ng-init="ctrl.getAllTeams()">
    <section>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="btn-group btn-group-justified">
                    <a href="/create-new-team" class="btn btn-primary" title="Create new team" data-ng-click="ctrl.onCreateNewTeamClick()">New</a>
                    <a href="#" class="btn btn-default" title="Save team" data-ng-click="ctrl.updateTeam()">Save</a>
                    <a href="/edit-team" class="btn btn-default" title="Edit team" data-ng-click="ctrl.onEditTeamClick()">Edit</a>
                    <a href="/save-as-team" class="btn btn-default" title="Copy team" data-ng-click="ctrl.onSaveAsTeamClick()">Copy</a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <uib-accordion>
            <uib-accordion-group is-open="ctrl.teamsSectionOpen" panel-class="panel-primary">
                <uib-accordion-heading>
                    <i class="glyphicon" data-ng-class="{'glyphicon-chevron-down': ctrl.teamsSectionOpen, 'glyphicon-chevron-right': !ctrl.teamsSectionOpen}"></i>
                    <span>  Team: {{ctrl.selectedTeam.teamName}}</span>
                </uib-accordion-heading>

                <uib-tabset active="active">
                    <uib-tab index="0" heading="All teams" select="ctrl.onAllTeamsClick()"></uib-tab>
                    <uib-tab index="1" heading="My teams"  select="ctrl.onMyTeamsClick()" disable="!ctrl.user._id"></uib-tab>
                </uib-tabset>

                <div class="tab-content">
                    <div class="tab-pane fade active in">
                        <div class="panel-body">
                            <div class="form-group has-feedback">
                                <label for="team__input--selected-team">Select Team:</label>
                                <input type="search" id="team__input--selected-team" placeholder="Select team" autocomplete="off"
                                    data-ng-model="ctrl.selectedTeamGetterSetter"
                                    data-ng-model-options="{ getterSetter: true }"
                                    typeahead-on-select="ctrl.changeSelectedTeam($item)"
                                    uib-typeahead="team as team.teamName for team in ctrl.allTeams | filter:$viewValue | limitTo:8"
                                    typeahead-min-length="0" class="form-control">
                                <span class="glyphicon glyphicon-remove form-control-feedback team__input--clear"
                                    data-ng-show="ctrl.selectTeamInputValue"
                                    data-ng-click="ctrl.selectedTeamGetterSetter('')">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-accordion-group>
        </uib-accordion>
    </section>

    <section>
        <uib-accordion>
            <uib-accordion-group is-open="ctrl.playersSectionOpen" panel-class="panel-primary">
                <uib-accordion-heading>
                    <i class="glyphicon" data-ng-class="{'glyphicon-chevron-down': ctrl.playersSectionOpen, 'glyphicon-chevron-right': !ctrl.playersSectionOpen}"></i>
                    <span>Players</span>
                </uib-accordion-heading>
                <div class="panel-body">
                    <players-list team="ctrl.selectedTeam"></players-list>
                </div>
            </uib-accordion-group>
        </uib-accordion>
    </section>
</div>
