<div class="col-lg-4 col-md-12 col-sm-12" ng-init="ctrl.getAllTeams()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Team: {{ctrl.selectedTeam.teamName}}</h3>
        </div>
        <div class="panel-body">
            <label for="selectedTeam">Select Team:</label>
            <input type="search" id="selectedTeam" placeholder="Select team" autocomplete="off"
                ng-model="ctrl.selectedTeamGetterSetter"
                ng-model-options="{ getterSetter: true }"
                typeahead-on-select="ctrl.changeSelectedTeam($item)"
                uib-typeahead="team as team.teamName for team in ctrl.allTeams | filter:$viewValue | limitTo:8"
                typeahead-min-length="0" class="form-control">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i>
                    No Results Found
                </div>
            <div class="form-group">
                <div class=" ">
                    <a class="btn btn-default" tooltip-placement="bottom" uib-tooltip="Update team" role="button" ng-click="ctrl.updateTeam()">Update</a>
                    <a href="/edit-team" tooltip-placement="bottom" uib-tooltip="Edit team" class="btn btn-default" role="button" ng-click="ctrl.onEditTeamClick()">Edit</a>
                    <a href="/save-as-team" tooltip-placement="bottom" uib-tooltip="Save team as" class="btn btn-default" role="button" ng-click="ctrl.onSaveAsTeamClick()">Save As</a>
                    <a href="/create-new-team" tooltip-placement="bottom" uib-tooltip="Create new team" class="btn btn-default" role="button" ng-click="ctrl.onCreateNewTeamClick()">Create New</a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Players</h3>
        </div>
        <div class="panel-body">
            <players-list></players-list>
        </div>
    </div>
</div>
