<div>
    <div class="form-group">
        <label for="teamName" class="col-lg-2 control-label">Team Name:</label>

        <div class="col-lg-10">
            <input class="form-control" id="teamName" placeholder="Team Name" type="text"
                   data-ng-model="team.teamName">
        </div>
    </div>
    <!-- ToDo -->
    <!-- <div class="form-group">
        <label for="playersCount" class="col-lg-2 control-label">Players:</label>

        <div class="col-lg-10">
            <select class="form-control" id="playersCount"
                    data-ng-model="team.playersCount">
                <option>5</option>
                <option>6</option>
            </select>
            <br>
        </div>
    </div> -->
    <div class="form-group">
        <label for="playersCount" class="col-lg-2 control-label">Team Colors:</label>
        <div class="col-lg-10">
            <label for="mainColor">Main color:</label>
            <input type="color" id = "mainColor" value="#ff0000" data-ng-model="team.colors.mainColor">
            <label for="secondColor">Second color:</label>
            <input type="color" id = "secondColor" value="#ff0000" data-ng-model="team.colors.secondColor">
        </div>
    </div>
    <div class="form-group">
        <label for="playersCount" class="col-lg-2 control-label">Goalkeeper Colors:</label>
        <div class="col-lg-10">
            <label for="gkMainColor">Main color:</label>
            <input type="color" id = "gkMainColor" value="#ff0000" data-ng-model="team.colors.gkMainColor">
            <label for="gkSecondColor">Second color:</label>
            <input type="color" id = "gkSecondColor" value="#ff0000" data-ng-model="team.colors.gkSecondColor">
        </div>
    </div>
</div>
